---
import Image from "astro/components/Image.astro";

const clientsInfo = [
  {
    logo: "/logos/logo-plaza-grill.png",
    name: "Plaza Grill",
    link: "https://plaza-grill.com.mx",
    width: 80,
    height: 115,
    classW: "w-10 md:w-14",
  },
  {
    logo: "/logos/hackema.png",
    name: "Hackema",
    link: "https://hackema.com",
    width: 900,
    height: 230,
    classW: "w-20 md:w-32",
  },
  {
    logo: "/logos/multiservices-card.png",
    name: "Multiservices Card",
    link: "https://multiservicescard.com.mx",
    width: 847,
    height: 533,
    classW: "w-16 md:w-24",
  },
  {
    logo: "/logos/olga-castillo.png",
    name: "Dra. Olga Castillo",
    link: "https://dracastillomaternofetal.com",
    width: 300,
    height: 377,
    classW: "w-12 md:w-20",
  },
  {
    logo: "/logos/vida-prenatal.webp",
    name: "Vida Prenatal Materno Fetal",
    link: "https://vidaprenatal-maternofetal-ginecologia.mx",
    width: 700,
    height: 200,
    classW: "w-24 md:w-36",
  },
];
---

<section
  class="w-full max-w-7xl px-4 mb-10 mt-32 flex flex-col justify-center items-center xxs:mt-24 xs:mt-10 md:mt-72"
  id="clients"
>
  <span
    class="bg-white text-[#13151a] rounded-full px-3 py-2 inline-block w-max h-max mb-5"
    >Nuestros Clientes</span
  >
  <h3 class="text-xl uppercase mb-4 lg:text-3xl">Grow fast with us</h3>
  <p class="max-w-[550px] text-center">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum atque
    numquam minus sunt! Numquam distinctio quod harum dolores aut?
  </p>
  <div
    class="w-full max-w-5xl flex flex-wrap gap-7 justify-center items-center mt-10 lg:gap-12"
  >
    {
      clientsInfo.map((client) => (
        <a
          href={client.link}
          class="transition hover:scale-105"
          target="_blank"
          rel="noopener noreferrer"
          title={`Ir a la página web de ${client.name}`}
        >
          <Image
            class={client.classW}
            src={client.logo}
            alt={`Logo de ${client.name}`}
            width={client.width}
            height={client.height}
          />
        </a>
      ))
    }
  </div>
</section>
