---
import CardImportant from "../CardImportant.astro";
import Google from "../Icons/Google.astro";
import HandShake from "../Icons/HandShake.astro";
import Store from "../Icons/Store.astro";
import Chart from "../Icons/Chart.astro";
import Price from "../Icons/Price.astro";
import Heart from "../Icons/Heart.astro";

const IMPORTANTPOINTS = [
  {
    Icon: Google,
    title: "Aumento de Visibilidad Inmediata",
    description:
      "Google Ads coloca a tu clínica en las primeras posiciones de búsqueda, lo que es crucial cuando los pacientes buscan atención médica inmediata.",
    bgColor: "bg-yellow-500/20",
    textColor: "text-yellow-500",
  },
  {
    Icon: HandShake,
    title: "Atracción de Pacientes en el Momento de Necesidad",
    description:
      "Los pacientes que buscan servicios médicos suelen tener una necesidad urgente. Google Ads permite que tu clínica aparezca justo cuando los pacientes necesitan atención.",
    bgColor: "bg-blue-500/20",
    textColor: "text-blue-500",
  },
  {
    Icon: Store,
    title: "Segmentación Geográfica Precisa",
    description:
      "Google Ads permite dirigirse a pacientes en áreas geográficas específicas, como tu ciudad o vecindario, lo cual es esencial para clínicas que operan en una ubicación fija.",
    bgColor: "bg-red-500/20",
    textColor: "text-red-500",
  },
  {
    Icon: Chart,
    title: "Resultados Medibles y Optimización",
    description:
      "Google Ads proporciona informes detallados sobre el rendimiento de tus campañas, permitiéndote evaluar y optimizar constantemente para mejorar los resultados.",
    bgColor: "bg-yellow-500/20",
    textColor: "text-yellow-500",
  },
  {
    Icon: Heart,
    title: "Construcción de Confianza y Credibilidad",
    description:
      "Aparecer repetidamente en los resultados de búsqueda mejora el reconocimiento de tu clínica y genera confianza entre los pacientes potenciales.",
    bgColor: "bg-blue-500/20",
    textColor: "text-blue-500",
  },
  {
    Icon: Price,
    title: "Superar la Competencia",
    description:
      "En un mercado donde muchas clínicas compiten por los mismos pacientes, Google Ads te ayuda a destacar mediante la personalización y segmentación de tus anuncios.",
    bgColor: "bg-red-500/20",
    textColor: "text-red-500",
  },
];
---

<section class="w-full flex flex-col justify-center items-center px-4 py-10">
  <h3 class="text-center text-2xl uppercase font-[poppins-bold]">
    ¿Por qué es importante posicionar tu clínica?
  </h3>
  <div
    class="w-full max-w-7xl grid place-content-center place-items-center my-8 gap-5 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      IMPORTANTPOINTS.map((item) => (
        <CardImportant
          Icon={item.Icon}
          title={item.title}
          description={item.description}
          bgColor={item.bgColor}
          textColor={item.textColor}
        />
      ))
    }
  </div>
</section>
