---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<title>{title}</title>
	</head>
	<body class="w-full flex justify-center items-center flex-col">
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: poppins;
		src: url(../fonts/Poppins-Regular.ttf);
	}

	@font-face {
		font-family: poppins-bold;
		src: url(../fonts/Poppins-SemiBold.ttf);
	}

	body.menu-active {
		overflow: hidden;
	}

	html {
		font-family: poppins;
		background: #13151a;
		color: white;
		scroll-behavior: smooth;
	}
</style>
